body{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    padding: 50px 140px;
    padding-right: 140px;
}
header {
    width: 1320px;
height: 600px;
    border-radius: 16px;
background-image:  linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../Images/Banner\ Image.png');
margin-bottom: 120px;

}
.cele{
    padding-left: 60px;
}
.head-t h1{
    width: 632px;
    height: 190px;
    color: #FFF;
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
position: absolute;
left: 38%;
top: 35%;
}
.head-t h6{
    color: #FFF;
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 50;
    position: absolute;
    top: 25%;
    left: 47%;

}

.off h1{
    color: #F00;
    text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.off h6{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 40px;
}

.off h2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 48px;
}
.pic{
position: absolute;
margin-left: 225px;
margin-bottom: 120px;
}
.welc{
    width: 1320px;
height: 600px;
border-radius: 16px;
margin-top: 642px;
background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/Vectorrr.png);
display: flex;
}
.welc h1{
    width: 642px;
    padding-top: 126px;
    padding-left: 126px;
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.welc p{
    width: 697px;
    padding-left: 126px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 200;
line-height: 30px; /* 166.667% */
}
.btn{
padding-left: 158px;
padding-top: 12px;

}
.btt{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 10px;
border-radius: 10px;
background-color: orange;
}
.btn button:hover{ filter: brightness(0.7);
    transition: 0.3s;
   
}
.imu{
    padding-top: 60px;
    padding-left: 40px;  
    background-blend-mode: screen;
mix-blend-mode: screen;
}
.para{
    width: 1320px;
height: 482px;
    margin-top: 120px;
    text-align: center;
    background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.para p{
    padding-top: 100px;
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.clr{
    color: #F00 ;
}
.bto{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 16px 32px;
display: inline-flex;
border-radius: 8px;
background-color: #F00;
}
.butt button:hover{filter: brightness(0.7);
    transition: 0.3s;
}







